<div class="toolbar">
    <a href="/dashboard" class="btn btn-md btn-default">
        <i class="fa fa-home"></i>$$label_dashboard$$
    </a>
    <a href="/bug" class="btn btn-md btn-default">
        <i class="fa fa-plus"></i>$$label_add_ticket$$
    </a>
    <button class="btn btn-md btn-default" type="submit" form="search-form">
        <i class="fa fa-search"></i>$$label_search$$
    </button>
    <a href="/logout" class="btn btn-md btn-default">
        <i class="fa fa-sign-out"></i>$$label_logout$$
    </a>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <form id="search-form" class="form-horizontal" method="GET" action="/dashboard">
            <div class="form-group">
                <label class="sr-only" for="status">$$label_search$$</label>

                <div class="col-sm-12">
                <input
                    type="search"
                    name="search"
                    placeholder="$$label_search_placeholder$$"
                    class="form-control"
                    value="{{search}}"/>
                </div>
            </div>
        </form>
    </div>
</div>
