{{> toolbar this}}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title" style="text-align: center;">
            {{> dashboard/stats stats}}
        </div>
    </div>
    <div class="panel-body">
        {{#if tickets.length}}
            <div class="tickets-table">
                {{#each tickets}}
                    {{>dashboard/ticket this}}
                {{/each}}
            </div>
        {{else}}
            <h1>$$label_no_tickets$$</h1>
        {{/if}}
    </div>
    {{#if pagination}}
        {{> dashboard/pagination pagination}}
    {{/if}}
</div>

<script>

    window.addEventListener('load', function(){
        // Override the click event for the pagination buttons so we can append the filters
        document.querySelectorAll('.pagination-link').forEach(function(btn){
            btn.addEventListener('click', function(evt){
                evt.preventDefault();
                window.location = evt.currentTarget.href + '&search=' + '{{search}}';
            });
        });

        document.querySelectorAll('.clickable, .search-badge').forEach(function(badge){
            badge.addEventListener('click', function(evt){
                evt.preventDefault();
                window.location = evt.target.getAttribute('data-search');
            });
        });
    });

</script>
