<div class="panel panel-default" style="margin-bottom: 0">
    <div class="panel-heading">
        <form id="search-form" class="form-horizontal" method="GET" action="/dashboard">
            <div class="form-group">
                <label class="sr-only" for="status">$$label_search$$</label>

                <div class="col-sm-12">
                <input
                    type="search"
                    name="search"
                    placeholder="$$label_search_placeholder$$"
                    class="form-control"
                    value="{{search}}"/>
                </div>
            </div>

            <div class="search-buttons" style="text-align: center;">
                <a href="/bug" class="btn btn-md btn-primary">
                    <i class="fa fa-plus"></i><br/>$$label_add_ticket$$
                </a>
                <button class="btn btn-md btn-info" type="submit" form="search-form">
                    <i class="fa fa-plus"></i><br/>$$label_search$$
                </button>
                <a href="/dashboard" class="btn btn-md btn-default">
                    <i class="fa fa-repeat"></i><br/>$$label_clear$$
                </a>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <hr class="panel-title-separator"/>
        <div class="panel-title" style="text-align: center;">
            {{> dashboard/stats stats}}
        </div>
    </div>
    <div class="panel-body">
        {{#if tickets.length}}
            <div class="tickets-table">
                {{#each tickets}}
                    {{>listItem this}}
                {{/each}}
            </div>
        {{else}}
            <h1>$$label_no_tickets$$</h1>
        {{/if}}
    </div>
    {{#if pagination}}
        {{> dashboard/pagination pagination}}
    {{/if}}
</div>



<script>

    window.addEventListener('load', function(){
        // Override the click event for the pagination buttons so we can append the filters
        document.querySelectorAll('.pagination-link').forEach(function(btn){
            btn.addEventListener('click', function(evt){
                evt.preventDefault();
                window.location = evt.target.href + '&search=' + '{{search}}';
            });
        });

        document.querySelectorAll('.clickable, .search-badge').forEach(function(badge){
            badge.addEventListener('click', function(evt){
                evt.preventDefault();
                window.location = evt.target.getAttribute('data-search');
            });
        });
    });

</script>
