<h1 style="text-align: center;" class="hidden-xs"><i class="fa fa-bug fa-5x"></i></h1>
<h1 style="text-align: center;" class="visible-xs"><i class="fa fa-bug fa-3x"></i></h1>
<h2>$$home_welcome$$ $$app_title$$</h2>
<p class="home">$$home_1$$</p>
<ul class="home-tickets-list">
    <li><i class="fa fa-lightbulb-o"></i> $$home_idea$$</li>
    <li><i class="fa fa-plus-circle"></i> $$home_improvement$$</li>
    <li><i class="fa fa-question-circle"></i> $$home_problem$$</li>
    <li><i class="fa fa-bug"></i> $$home_bug$$</li>
</ul>
<p class="home">$$home_2$$</p>
<div class="home-buttons btn-group" role="group">
    <a href="/login" class="btn btn-lg btn-warning">$$home_open_admin$$</a>
</div>
