.italic
    font-style: italic

.badge
    font-size: 15px

.markdown-notice
    font-style: italic
    font-size: 12px

.panel-footer.buttons
    padding: 0
    border-top-width: 0

.clickable
    cursor: pointer
