.italic
    font-style: italic

.badge
    font-size: 15px

.markdown-notice
    font-style: italic
    font-size: 12px

.panel-footer.buttons
    padding: 0
    border-top-width: 0

.clickable
    cursor: pointer

.panel-title-separator
    margin-top: 10px
    margin-bottom: 5px

.panel-footer.buttons > button
    width: 150px

// Scale images on tickets
.ticket-description img
    width: 200px

// Give some margin to the icons on the buttons on the title of the ticket
.panel-title .fa,
.toolbar .fa
    margin-right: 3px

.toolbar
    display: flex

    @media (max-width: 767px)
        flex-direction: column

.toolbar .btn
    flex: 1

.long-button
    width: 100%

.panel-footer
    display: flex
    align-items: center
    justify-content: center

header
    margin-top: 10px
    padding-top: 10px
    margin-bottom: 10px
    padding-bottom: 10px
    border-top: white 5px solid
    border-bottom: white 5px solid

footer
    text-align: center
    padding-top: 10px
    margin-top: 10px
    border-top: white 2px solid
    font-size: 12px

// Styles for the home

.home-tickets-list li
    font-size: 15pt
    list-style-type: none
    line-height: 40px

.home-tickets-list .fa
    margin-right: 5px

.home-buttons
    margin-top: 20px
    margin-bottom: 20px
    display: flex
    flex: 1

.home-buttons .btn
    flex: 1
    margin: 5px

p.home
    font-size: 12pt

.alert ul
    padding-left: 15px
