{{!--  {{> ticket/status ticket}}  --}}

<span class="label label-$$class_status_{{ticket.status}}$$">$$label_status_{{ticket.status}}$$&nbsp;&nbsp;<i class="fa $$icon_type_{{ticket.type}}$$"></i></span>
{{#if isAdmin}}
    {{#if ticket.private}}
        <span class="label label-danger">$$label_private$$&nbsp;&nbsp;<i class="fa fa-lock"></i></span>
    {{else}}
        <span class="label label-success">$$label_public$$&nbsp;&nbsp;<i class="fa fa-unlock"></i></span>
    {{/if}}
{{/if}}
